{% extends "teams_base.html" %}
{% block title %} Add Player Page{% endblock title %}
{% block content %}
<div class="form-content my-3 p-3">
    <div class="row justify-content-center">
        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
            <div class="card-header justify-content-center">
                <h3 class="font-weight-light my-4 text-center">Add Player</h3>
            </div>
            <div class="card-body align-items-center">
                {% if user_form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in user_form.errors.items %}
                        <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <div class="form-content">
                    <form method="post" action="{% url 'add_player' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class=" justify-content-center align-items-center">
                                <div class="form-group">
                                    {{ form.media.js }}
                                    {{ form.as_p }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-dark btn-lg">Add Player</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}