{% extends "coach.html" %}
{% block title %}coach Page{% endblock title %}
{% block content %}
<div class="form-content my-3 p-3">
    <div class="row justify-content-center">
        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
            <div class="card-header justify-content-center">
                <h3 class="font-weight-light my-4 text-center">Coach Details</h3>
                <div class="img-top">
                    <img src="{{ coach.avatar.url }} " style="cursor: pointer;" height="40px" width="40px" alt="profile pic ">
                </div>
                <div class="row">
                    <div class="col height=">
                        <div class="card-block px-2">
                            <p class="card-text">
                                <label class="small mb-1"> <b>First Name: </b>
                                    {{ coach.first_name }} </label> <br />
                                <label class="small mb-1"> <b>Last Name: </b>
                                    {{ coach.last_name }} </label> <br />
                                <label class="small mb-1"> <b>Age: </b>
                                    {{ coach.age }} </label> <br />
                                <label class="small mb-1"> <b>Sub County: </b>
                                    {{ coach.sub_county }} </label> <br />
                                <label class="small mb-1"> <b>County: </b>
                                    {{ coach.county }} </label> <br />
                                <label class="small mb-1"><b>level:</b>
                                    {{ coach.caf_level }} </label><br />
                                <label class="small mb-1"><b>Team:</b>
                                    {{ coach.team.team_name }} </label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer w-100 text-muted">
                    {% if request.user == coach.user %}
                    <a href="{% url 'update_coach' coach.pk %}"> Edit </a>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <button type="button" style="float:right" data-bs-toggle="modal" data-bs-target="#myModal">
                        Delete Coach
                    </button>
                    {% endif %}

                </div>
                <div class="modal fade" style="width:17rem" id="myModal">
                    <div class="modal-dialog ">
                        <div class="modal-content ">
                            <form method="POST" action="{%  url 'delete_coach' coach.pk %}">
                                <div class="modal-header">
                                    <h4 class="modal-title"> Delete Coach </4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <h4 class="card-title"> delete {{coach.first_name}} {{coach.last_name}}</h4>
                                    {% csrf_token %}
                                    Are you sure you want to delete this coach?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                                    <input type="submit" style="float:right" class="btn btn-primary" value="Yes"
                                        style="margin-bottom: 5px;" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}