{% extends "base.html" %}
{% block title %}Profile {% endblock title %}
{% block content %}

<div class="card shadow-lg border-1 rounded-lg mt-0 mb-3
    card-header justify-content-center" style="width:500px;">
    <div class="row no-gutters">
        <div class="col-auto">
            <img src="{{ user.profile.avatar.url }} "
            style="cursor: pointer;" class="img-fluid"
            alt="Profile Pic">
        </div>
        <div class="col">
            <div class="card-block px-2">
                <h4 class="card-title small mb-1"><b>
                    Profile for: {{user.username}}</b></h4>
                <p class="card-text">
                    <label class="small mb-1"> <b>First Name: </b>
                        {{ user.first_name }} </label> <br />
                    <label class="small mb-1"> <b>Last Name: </b>
                        {{ user.last_name }} </label> <br />
                    <label class="small mb-1"> <b>Email: </b>
                        {{ user.email }} </label> <br />
                    <label class="small mb-1"><b>Bio:</b>
                        {{ user.profile.bio }} </label>
                </p>
            </div>
        </div>
    </div>
    <div class="card-footer w-100 text-muted">
        <a href="{% url 'profile' %}">Edit Profile</a>
    </div>
</div>
{% endblock content %}