{% extends 'home.html' %}
{% load auth_extras %}
{%  block title %} referee {%  endblock title %}
{% block content %}
<div class="form-content my-3 p-3">
    <div class="row justify-content-center">
        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
            <div class="card-header justify-content-center">
                <h3 class="text-center display-4">Referee</h3>
                {% if request.user|has_group:'REF' %}
                <a href="{% url 'create_ref' %}" class="nav-item nav-link">
                    <h5 class="text-end"> Create Referee </h5>
                </a>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="row  overflow-auto" style="max-height: 750px;">
                    {% for ref in ref_list %}
                    <div class="col-sm-auto text-center">
                        <img src="{{ ref.avatar.url }} " style="cursor: pointer;" class="img-fluid justify-content-center"
                            alt=" logo ">
                        <div class="row justify-content-center">
                            <a href="{% url 'ref_details' ref.pk %}">
                                <h3 class="display-6 text-center">
                                    {{ref.full_name}}</h3>
                            </a>
                        </div>
                    </div>
                    {% empty %}
                    <div>
                        <li class="list-group-item">No referees yet</li>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
