{% load auth_extras %}
{% block navbar %}
<nav id="navbar" class="navbar">
    <ul>
      <li><a class="active " href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="portfolio.html">Portfolio</a></li>
      <li><a href="team.html">Teams</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="contact.html">Contact Us</a></li>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'profile_view' %}" class="navbar-brand mb-1"></a>
        <img src="{{ user.profile.avatar.url }} " alt="profile pic" style="width:40px; height:30px; float:right">
        </a>
      </li>
      {% if request.user|has_group:'TM' %}
      <li>
        <a href="{% url 'team_details' user.team.pk %}" class="nav-item nav-link">Team</a>
      </li>
      {% endif %}
      <li>
        <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'login' %}" class="nav-item nav-link">log in</a>
      </li>
      {% endif %}
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>
{% endblock navbar %}